{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "main" }}
<header class="page-title">
  <div class="inner">
  <h1 class="title">{{ .Title }}</h1>
</header>

<ul class="terms">
  {{ $data := .Data }}
  {{ range $key, $value := .Data.Terms }}
  <li>
    <h2 class="terms-title">
      <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }} ({{ len $value }})</a>
    </h2>
  </li>
  {{ end }}
</ul>
{{ end }}

