<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>
    {{ partial "meta.html" . }}
    {{ block "meta" . }}{{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    {{ with .Site.Params.googlefonts }}
    <link href="{{ . }}" rel="stylesheet">
    {{ else }}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    {{ end }}
    {{ if .Site.Params.EnableHighlight | default false }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css">
    {{ end }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
    <style>
{{ with resources.Get "styles.scss" | toCSS }}
  {{ replace .Content `@charset "UTF-8";` "" | safeCSS }}
{{ end }}
{{ if .Site.Params.Author }}
  {{ with resources.Get "author.scss" | toCSS }}
    {{ replace .Content `@charset "UTF-8";` "" | safeCSS }}
  {{ end }}
{{ end }}

.thumb {
  background-image: url("{{ "images/default.jpg" | absURL }}");
  background-size: cover;
  background-position: center;
}
{{ range $p := .Site.RegularPages }}
  {{ $image := index ($p.Resources.ByType "image") 0 }}
  {{ $compress := $image.Fit "360x360" }}
  {{ with $compress }}
.thumb-{{ $p.File.UniqueID }} {
  background-image: url("{{ .RelPermalink | safeHTML }}");
}
{{ end }}
{{ end }}


{{ with .Site.Params.fontfamily }} body { font-family: {{ . | safeCSS }}; } {{ end }}
{{ with .Site.Params.logofontfamily }} .h-logo { font-family: {{ . | safeCSS }}; } {{ end }}
{{ partial "custom.css" . | safeCSS }}
    </style>
  </head>
  <body>
    <header class="l-header">
        <h1 class="logo">
          <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </h1>
        {{ with .Site.Params.Description }}
        <span class="description">
          {{ . | markdownify}}
        </span>
        {{ end }}

        <nav class="nav">
          <ul class="flat">
            {{ range .Site.Menus.main }}
            <li>
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </nav>
    </header>

    <main>
      <div class="l-container">
        <div class="mrow">
        <div class="mcol c8">
          {{ block "main" . }}{{ end }}
        </div>
        <div class="mcol c4">
          <aside class="l-sidebar">
            {{ partial "author.html" . }}
            {{ partial "latests.html" . }}
            {{ partial "section.html" . }}
            <!-- {{ partial "categories.html" . }} -->
            {{ partial "tags.html" . }}
          </aside>
        </div>
      </div>
    </main>

    <footer class="l-footer">
      <div class="l-container">
        <p>{{ with .Site.Copyright }}{{ . | safeHTML }}{{ else }}<span class="h-logo">&copy; {{ .Site.Title }}</span>{{ end }}</p>
        <aside>
          <p>Powered by <a href="https://gohugo.io/">Hugo</a>.</p>
          <p><a href="https://github.com/dim0627/hugo_theme_robust">Robust</a> designed by <a href="http://yet.unresolved.xyz/">Daisuke Tsuji</a>.</p>
        </aside>
      </div>
    </footer>

    {{ if .Site.Params.EnableHighlight | default false }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js" crossorigin="anonymous"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{ end }}
  </body>
</html>

