<article class="lism">
  <a href="{{ .Permalink }}">
    <div class="thumb thumb-{{ .File.UniqueID }}"></div>

    <div class="inner">
      <div class="title">{{ .Title }}</div>

      <ul class="facts sm">
        {{ if .Date }}<li><i class="fas fa-calendar" aria-hidden="true"></i><time datetime="{{ .Date.Format "2007-01-02T15:04:05JST" }}">{{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time></li>{{ end }}
        {{ with .Section }}
        <li><i class="fas fa-bookmark" aria-hidden="true"></i>{{ ($.Site.GetPage .).Title }}</li>
        {{ end }}
        {{ if eq (getenv "HUGO_ENV") "DEV" }}
        <li>{{ .WordCount }} Words</li>
        {{ end }}
        {{ if .Draft }}
        <li style="color: #2196f3;">DRAFT</li>
        {{ end }}
      </ul>

    </div>
  </a>
</article>
