{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
{{ .Render "summary" }}

<div class="adj mrow">
  <div class="mcol c6">
    {{ with .NextInSection }}
    <header>Next Article</header>
    {{ .Render "li_sm" }}
    {{ end }}
  </div>
  <div class="mcol c6">
    {{ with .PrevInSection }}
    <header>Previous Article</header>
    {{ .Render "li_sm" }}
    {{ end }}
  </div>
</div>

{{ template "_internal/disqus.html" . }}
{{ end }}
