<article class="sn">

  <!--<div class="thumb thumb-{{ .File.UniqueID }}"></div>-->

  <header class="article-header">
    <h1 class="title">{{ .Title }}</h1>

    <ul class="facts">
      <li><i class="fas fa-calendar" aria-hidden="true"></i><time datetime="{{ .Date.Format "2006-01-02T15:04:05JST" }}">{{ if .Date }}{{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}{{ else }}{{ "----.--.--" }}{{ end }}</time></li>
      {{ if ne .Date .Lastmod }}
      <li><i class="fas fa-sync" aria-hidden="true"></i><time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time></li>
      {{ end }}
      {{ with .Section }}
      <li><i class="fas fa-bookmark" aria-hidden="true"></i><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/">{{ ($.Site.GetPage .).Title }}</a></li>
      {{ end }}
      {{ if eq (getenv "HUGO_ENV") "DEV" }}
      <li>{{ .WordCount }} Words</li>
      {{ end }}
      {{ if .Draft }}
      <li style="color: #2196f3;">DRAFT</li>
      {{ end }}
    </ul>

    {{ partial "share.html" . }}
  </header>

  {{ if .Params.toc }}
  <div class="toc">
    {{ .TableOfContents }}
  </div>
  {{ end }}

  <div class="article-body">{{ .Content }}</div>

  <footer class="article-footer">

    {{ partial "share.html" . }}

    {{ $params := .Params }}
    {{ range $key, $value := $.Site.Taxonomies }}
    {{ if isset $params $key }}
    <section class="footer">
      <header>
        <a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/">{{ $key | upper }}</a>
      </header>
      <ul class="terms">
        {{ range (index $params $key) }}
        <li><a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/{{ . | urlize }}/">#{{ . }}</a></li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
    {{ end }}
  </footer>

</article>
