body {
    font-family: "Noto Sans JP", sans-serif;
}
.paging, .logo a, .l-sidebar .sidebar header {
    font-family: "Quicksand", "Noto Sans JP", sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .title, .lism .title {
    font-weight: 500;
}

/* タイトル3行以上は省略 */
.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* ヘッダのロゴとメニュー*/
.l-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.l-header .logo {
    text-align: start;
    flex-grow: 1;
    margin: 0 1rem;
}
.l-header nav ul.flat {
    display: flex;
    margin: 0.25rem 0.75rem 0 0.75rem;
}
.l-header nav ul.flat li {
    display: block;
    margin: 0 0.25rem 0 0.25rem;
}
.l-header nav ul.flat li a {
    font-size: smaller;
    color: #333;
}
/* サイドバーのタイトルの文字間隔 */
.l-sidebar .sidebar header {
    letter-spacing: 1px
}

.terms a {
    background-color: #828086;
}

.article-body {
    margin: -1.0rem 0 0 0;
}

/* 記事の画像の配置 */
.article-body p:has(img) {
    display: var(--summary-img-display);
}
article.sn .article-body img {
    min-width: 20%;
    max-width: 100%;
    margin: 0 0.5rem 0 0;
}
article.sn .article-body img:last-child {
    min-width: 20%;
    max-width: 100%;
    margin: 0;
}

/* 記事のリスト has(.lism)は次の記事・前の記事 */
.mcol.c6 {
    display: var(--list-c6);
    width: var(--list-c6-width);
    float: inline-start;
}
.mcol.c6:has(.lism) {
    display: block;
    width: 100%;
}
.mcol.c6 article.li {
    width: 100%;
    height: var(--list-height);
}
.mcol.c6 article.li .thumb {
    height: var(--list-thumbnail-height);
}

.facts.sm li {
    font-size: .7rem;
    margin-right: .5rem;
}

/* var */
:root{
    --summary-img-display: flex;
    --list-c6: flex;
    --list-c6-width: 50%;
    --list-height: 16rem;
    --list-thumbnail-height: 8rem;
}

@media (max-width: 768px) {
    :root{
        --summary-img-display: flex;
        --list-c6: flex;
        --list-c6-width: 50%;
        --list-height: 18rem;
        --list-thumbnail-height: 12rem;
    }
}

@media (max-width: 480px) {
    :root{
        --summary-img-display: block;
        --list-c6: block;
        --list-c6-width: 100%;
        --list-height: auto;
        --list-thumbnail-height: 10rem;
    }
}