{{ with .Site.Sections }}
<section class="sidebar">
    <header>Sections</header>
    <ul class="terms">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }} </a></li>
      {{ end }}
    </ul>
  </section>
{{ end }}
