<section class="sidebar">
  <header>{{ strings.FirstUpper .key }}</header>
  <ul class="terms">
    {{ range $key, $value := .value.Alphabetical }}
    <li><a href="{{ $.baseurl}}{{ $.key }}/{{ .Name | urlize }}">#{{ .Name | upper }} <span class="count">({{ $value.Count }})</span></a></li>
    {{ end }}
  </ul>
</section>
